.vs/
Branch-Xamarin-SDK.userprefs
Branch-Xamarin-Lib.Droid/bin
Branch-Xamarin-Lib.Droid/obj
Branch-Xamarin-Lib.iOS/bin
Branch-Xamarin-Lib.iOS/obj
Branch-Xamarin-SDK/bin
Branch-Xamarin-SDK/obj
Branch-Xamarin-SDK.Droid/bin
Branch-Xamarin-SDK.Droid/obj
Branch-Xamarin-SDK.iOS/bin
Branch-Xamarin-SDK.iOS/obj
Branch-Xamarin-Testbed/bin
Branch-Xamarin-Testbed/obj
Branch-Xamarin-Testbed.Droid/bin
Branch-Xamarin-Testbed.Droid/obj
Branch-Xamarin-Testbed.iOS/bin
Branch-Xamarin-Testbed.iOS/obj
packages

# ignore Branch SDK binary
BranchSDK.xcframework/
