Branch-Xamarin-SDK.userprefs
Branch-Xamarin-SDK-Testbed.iOS/bin
Branch-Xamarin-SDK-Testbed.iOS/obj
Branch-Xamarin-SDK-Testbed/bin
Branch-Xamarin-SDK-Testbed/obj
Branch-Xamarin-SDK-Textbed.Droid/bin
Branch-Xamarin-SDK-Textbed.Droid/obj
Branch-Xamarin-SDK/bin
Branch-Xamarin-SDK/obj
Branch-Xamarin-SDK-Testbed.Droid/bin
Branch-Xamarin-SDK-Testbed.Droid/obj
