<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.12" package="Branch_Xamarin_SDK_Testbed.Droid" android:versionCode="12">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="21" />
	<application android:label="Branch-Xamarin-SDK-Testbed.Droid" android:icon="@drawable/icon">
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>